<%_
function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
} _%>

<%_
const validators = {
  required: { value: 'required' },
  minlength: { value: 'minLength', lengthField: 'fieldValidateRulesMinlength' },
  maxlength: { value: 'maxLength', lengthField: 'fieldValidateRulesMaxlength' },
} _%>
<template>
  <q-page class="q-pa-md flex flex-center">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
      style="min-width: 300px"
    >
<%_ for (field of fields.filter(field => !field.id)) { _%>
<%_ if (field.fieldIsEnum) { _%>
      <q-select
        v-model="<%= entityInstance %>.data.<%= field.fieldName %>"
        :label="$t('<%= i18nKeyPrefix %>.<%= field.fieldName %>')"
        :options="[null, <%- field.enumValues.map(item => `'${item.value}'`).join(', ') _%>]"
      />
<%_ } else { _%>
      <q-input
        v-model="<%= entityInstance %>.data.<%= field.fieldName %>"
        :label="$t('<%= i18nKeyPrefix %>.<%= field.fieldName %>')"
<%_ if (field.fieldValidate) { _%>
        :rules="[<%- field.fieldValidateRules
            .filter(rule => validators[rule])
            .map(rule => {
                const validator = validators[rule];
                const length = field[validator.lengthField] || ''
                return `$rules.${validator.value}(${length})` })
            .join(', ') _%>]"
<%_ } _%>
      />
<%_ } _%>
<%_ } _%>
<%_ for (relationship of relationships.filter(r => r.relationshipType.includes('-to-one')).filter(r => r.ownerSide)) { _%>
      <q-select
        v-model="<%= entityInstance %>.data.<%= relationship.relationshipName %>"
        :label="$t('<%= i18nKeyPrefix %>.<%= relationship.relationshipName %>')"
        :options="<%= relationship.otherEntityNamePlural %>"
        option-label="id"
      />
<%_ } _%>
      <div class="flex justify-between">
        <q-btn
          type="submit"
          color="primary"
          :label="$t('entity.action.save')"
        />
        <q-btn
          to="/<%= entityApiUrl %>"
          flat
          color="primary"
          :label="$t('entity.action.back')"
        />
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { api } from 'boot/axios';
import { defineComponent, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

export default defineComponent({
  name: 'Page<%= entityAngularName %>',

  setup() {
    const router = useRouter();
    const route = useRoute();

    const <%= entityInstance %> = reactive({
      data: {
<%_ for(field of fields) { _%>
        <%= field.fieldName %>: null,
<%_} _%>
<%_ for (relationship of relationships.filter(r => r.relationshipType.includes('-to-one')).filter(r => r.ownerSide)) { _%>
        <%= relationship.relationshipName %>: null,
<%_} _%>
      },
    });

    (async function fetch<%= entityAngularName %>() {
      if (route.params.id) {
        <%= entityInstance %>.data = (await api.get(`/api/<%= entityApiUrl %>/${route.params.id}`)).data;
      }
    })();

<%_ for (relationship of relationships.filter(r => r.relationshipType.includes('-to-one')).filter(r => r.ownerSide)) { _%>
    const <%= relationship.otherEntityNamePlural %> = ref([]);
    (async function fetch<%= capitalizeFirstLetter(relationship.otherEntityNamePlural) %>() {
      <%= relationship.otherEntityNamePlural %>.value = (await api.get(`/api/<%= relationship.otherEntityNamePlural %>`)).data;
    })();

<%_} _%>
    const onSubmit = async () => {
      await api({
        method: <%= entityInstance %>.data.id ? 'put' : 'post',
        url: `/api/<%= entityApiUrl %>/${<%= entityInstance %>.data.id ? <%= entityInstance %>.data.id : ''}`,
        data: <%= entityInstance %>.data,
      });
      router.push('/<%= entityApiUrl %>');
    };

    return {
      <%= entityInstance %>,
<%_ for (relationship of relationships.filter(r => r.relationshipType.includes('-to-one')).filter(r => r.ownerSide)) { _%>
      <%= relationship.otherEntityNamePlural %>,
<%_} _%>
      onSubmit,
    };
  },
});
</script>
